@import 'variables.scss';

.header {
    // width: 1140px;
    height: 62px;
    // display: flex;
    margin-bottom: 35px;
    background-color: $color-secondary;

    &__container {
        display: flex;
        margin: auto;
    }

    &__button {
        display: none;
        background-color: $color-blue;
        color: #fff;
        width: 160px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        border: none;
        border-radius: 2px;
    }
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    // flex: 0 1 299px;

    &__text {
        display: flex;
        flex-direction: column;
        // justify-content: center;
    }

    &__image {
        flex: 0 0 40px;
        height: 40px;
        margin-right: 13px;
    }

    &__name {
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
    }

    &__description {
        display: none;
        font-size: 18px;
        line-height: 25px;
        color: #2b292d;
        opacity: 0.6;
    }
}

.navigation {
    display: none;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;

    &__item {
        text-decoration: none;
        color: #2b292d;
        line-height: 25px;
        font-size: 18px;
        margin-right: 33px;

        &:last-child {
            margin-right: 0;
        }

        &_selected {
            font-weight: 700;
        }
    }

    &__arrow {
        display: inline-block;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
        width: 8px;
        height: 5px;
        margin-left: 11px;
    }
}

@media screen and (min-width: 1400px) {
    .header {
        margin-bottom: 76px;

        &__button {
            display: block;
        }
    }

    .navigation {
        display: block;
    }
}